body {
    margin: 0; }

.header {
    position: fixed;
    border: none;
    top: 0;
    height: 90px;
    left: 0;
    right: 0;
    text-align: center;
    background-image: linear-gradient(45deg, #fff, #ddf2f5);
    display: block;
    z-index: 100; }

.header_container {
    position: relative;
    height: 100%;
    padding: 5px 10px;
    margin: 0 auto; }

.header_container_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.header_n2 {
    display: inline-flex;
    font-size: 18px;
    margin: 0 3px 0 3px;
    cursor: pointer; }

.header_nav_list {
    position: absolute;
    top: 15px;
    left: 245px; }

.nav-link {
    color: #282f2c;
    font-weight: 400;
    font-family: "Be Vietnam Pro", sans-serif;
    text-transform: uppercase;
    font-size: 15px; }

.nav-link:hover {
    color: #6dc7f8; }

.header_n2_link {
    display: inline-flex;
    padding: 3px 0px;
    margin: 0 5px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    line-height: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    text-transform: uppercase;
    font-size: 15px; }

.header_n2_link:hover {
    color: #6dc7f8;
    text-decoration: none; }

.header_n2_btn {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(45deg, #0f54f7, #17cbeb);
    padding: 10px 5px;
    border-radius: 10px;
    font-weight: 500; }

.header_n2_btn:hover {
    background-image: linear-gradient(-45deg, #17cbeb, #0f54f7); }

.logo img {
    width: 75px;
    height: 65px;
    image-rendering: pixelated; }

.logo {
    position: relative;
    left: 150px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px); }

#logo_name {
    font-size: 15px;
    font-weight: 700; }

.header_icon {
    margin-right: 3px;
    margin-top: 1px; }

.header_n2_account img{
    width:30px;
    height:30px;
    position: relative;
    top:10px;
    right:10px;
}

.box_author{
    width:175px;
    height:120px;
    background-color: #fff;
    border-radius: 10%;
    position: relative;
    top:10px;
    display: none;
}
.box_author_detail{
    width:100%;
    height:100%;
    text-align: center;
}
.name_author{
    font-size: 15px;
    font-weight: 700;
    font-family:"Be Vietnam Pro", sans-serif;
    line-height: 1.5;
    padding:0 15px 0 8px;
    display: flex;
    justify-content: space-between;
    height:60px;
}
.name_author img{
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-top: 10px;
}
.name_author_logout{
    width:100%;
    border-top:1px solid rgba(202, 135, 135, 0.5);


}
.name_author_logout a{
    text-decoration: none;
    color:rgb(43, 31, 39);
    font-size: 15px;
    font-weight: 700;
    font-family:"Be Vietnam Pro", sans-serif;
    line-height: 1.5;
    padding:0 15px 0 20px;
    display:inline-flex;
    justify-content: space-around;
    margin-top: 10px;
}

.header_n2_icon{
    text-align: right;
}
.header_n2_account{
    display:inline-flex;
    flex-direction: row-reverse;
}
.header_n2_account img{
    width:30px;
    height:30px;
    position: relative;
    top:10px;
    right:10px;
}


.container {
    text-align: center;
    background-image: linear-gradient(60deg, #21cfea, #961e5a);
    margin-top: 90px; }

.container_nav {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url("/templates/image/anhnenhome.jpg");
}

.container_nav_tittle {
    width: 100%;
    padding: 10px 0; }

.container_nav_tittle_body {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
    text-align: left; }

#style_main {
    color: #fff;
    font-size: 50px;
    font-family: "Be Vietnam Pro", sans-serif; }

#style_sub {
    color: #fff;
    font-size: 20px;
    font-family: "Be Vietnam Pro", sans-serif; }

.container_nav_block_outer {
    display: flex;
    max-width: 100%; }

.container_nav_block_inner {
    background-color: rgba(242, 242, 242, 0.5);
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px 20px 20px 10px;
    max-width: 700px;
    transition: 0.2s all ease; }

.container_nav_search_task {
    width: 100%;
    height: 40px;
    margin-left: 20px; }

.container_nav_search_task_table {
    display: flex; }

.container_nav_search_task_table_label::after {
    display: table;
    content: "";
    line-height: 0;
    clear: both; }

.container_nav_search {
    height: 35px;
    border: 1px solid #ccc;
    width: 88%;
    border-radius: 5px;
    position: relative;
    left: 8px; }

.container_nav_btn_submit {
    height: 38px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px 0 15px;
    background-color: #fff;
    border: none; }

.container_nav_btn_submit::before {
    display: table;
    content: "";
    line-height: 0;
    clear: both; }

.fa-solid {
    cursor: pointer; }

.container_nav_options_select {
    display: inline-flex; }

.option_location {
    padding: 8px 80px;
    background-color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    border: 1px solid rgba(242, 242, 242, 0.5);
}

.option_location:hover {
    color: orange; }

.option_location_list_nocart {
    position: absolute;
    min-height: 20%;
    top: 415px;
    background-color: #f0f5f5;
    width: 220px;
    left: 35%;
    border-radius: 5px;
    display: none; }

.option_location_list_nocart_body {
    width: 200px;
    height: 85px;
    margin: 0 10px;
    display: flex;
    flex-direction: column; }

.option_select {
    height: 25px;
    margin-top: 10px;
    border-radius: 10px; }

.option_location_list_action {
    margin-top: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid; }

.option_price {
    padding: 8px 60px;
    background-color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #000;
    border: 1px solid rgba(242, 242, 242, 0.5);
}

.option_price:hover {
    color: orange; }

.option_price_list_nocart {
    position: absolute;
    min-height: 350px;
    top: 415px;
    background-color: #f0f5f5;
    width: 250px;
    left: 48%;
    border-radius: 5px;
    display: none; }

.option_price_list_nocart_body {
    height: 310px;
    width: 230px;
    margin: 0 10px;
    cursor: pointer; }

.price_list {
    text-align: left;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif; }

.price_list:hover {
    color: #539fe3; }

.option_price_list_action {
    margin: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid; }

.option_price_list_action_btn_element {
    text-decoration: none;
    font-family: system-ui; }

.option_search {
    padding: 8px 20px;
    background-color: #2b37d5;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(242, 242, 242, 0.5);
}

.option_search:hover {
    color: red; }

.container_item {
    padding: 20px;
    display: inline-flex; }

.container_item_btn_head {
    display: inline-flex;
    margin-right: 65%; }

#container_item_btn_head_p {
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    font-family: "Be Vietnam Pro", sans-serif; }

.container_item_btn_head_1 {
    padding: 15px 2px; }

.container_item_btn_head_1_1 {
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    background-image: linear-gradient(45deg, #133fff, #14cdf7);
    text-decoration: none;
    color: #f4f4f4; }

.container_item_btn_head_1_1:hover {
    background-image: linear-gradient(180deg, #14cdf7, #133fff); }

.container_item_products {
    border-radius: 5px;
    background-color: #afdcde;
    height: 100%;
    width: 750px;
    margin-right: 100px; }

.container_item_list_product {
    background-color: #efe8e8;
    width: 100%;
    height: 1525px; }

.container_item_product {
    background-color: azure; }

.container_item_product_info {
    display: block;
    width: 100%; }

.container_item_product_detail {
    display: flex;
    border-top: 1px solid red;
    margin-top: 1px; }

.container_item_product_detail_post_image {
    width: 260px;
    height: 220px;
    overflow: initial;
    background-color: aqua; }

.container_item_product_detail_post_image_quantity {
    margin-top: -25px; }

.container_item_product_detail_post_image_count {
    margin-left: -190px;
    padding: 1px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px; }

.container_item_product_img {
    opacity: 1; }

img {
    width: 100%;
    height: 100%; }

.container_item_product_detail_post_meta {
    padding-right: 20px;
    width: 60%;
    border-left: 1px solid orange; }

.container_item_product_detail_post_info_name {
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;
    display: block;
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0 0 10px 10px;
    text-align: left; }

.post_info_name_detail {
    text-decoration: none; }

.post_info_name_detail:hover {
    color: #dc5f46; }
.post_info_name_detail p{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.container_item_product_detail_post_info_price_acreage_add {
    display: inline-flex;
    justify-content: space-around;
    width: 100%; }

.post_info_price {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 400;
    margin: 0 0 10px;
    color: #40ef40;
    font-family: "Be Vietnam Pro", sans-serif; }

.post_info_acreage {
    font-weight: 400;
    line-height: 1.5;
    font-family: "Be Vietnam Pro", sans-serif; }

.post_info_add {
    font-weight: 700;
    line-height: 1.5;
    font-family: "Be Vietnam Pro", sans-serif; }

.container_item_product_detail_info_describe {
    width: 100%;
    height: 90px; }

.container_item_product_detail_post_mes {
    display: flex;
    justify-content: space-between; }

.container_item_product_detail_post_mes_logo {
    display: flex; }

.container_item_product_detail_post_mes_logo_author {
    margin: 8px 5px 2px 5px; }

.container_item_product_detail_post_mes_logo_author img {
    width: 30px;
    height: 30px;
    border-radius: 50%; }

.post_user {
    font-size: 16px;
    line-height: 1;
    font-family: "Be Vietnam Pro", sans-serif; }

.container_item_product_detail_post_mes_tel {
    display: flex;
    flex-direction: row; }

.container_item_product_detail_post_mes_tel_1 {
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    cursor: pointer;
    background-image: linear-gradient(45deg, #d14677, #d2af31);
    color: #fff; }

.container_item_product_detail_post_mes_tel_1:hover {
    background-image: linear-gradient(-45deg, #3faeae, #2db467); }

.container_item_product_detail_title_info {
    font-siZe: 10px;
    line-height: 1;
    font-weight: 400;
    display: block;
    white-space: normal;
    margin: 0 0 10px;
    font-family: "Be Vietnam Pro", sans-serif; }

.container_item_btn_listPage {
    text-align: center;
    list-style: none;
    display: flex;
    padding-left: 0; }

.container_item_btn {
    flex-direction: row;
    margin-left: 200px;
    display: flex; }

.container_item_btn_item {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px; }

.container_item_btn_item_icon {
    padding: 10px; }

.item_btn {
    padding: 12px;
    margin-top: 6px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px #fff;
    cursor: pointer; }

.highLight {
    background-color: #c68c21; }

.container_item_btn_item_btn {
    margin-top: 18px; }

.container_item_btn_item_btn_prev {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 0; }

.container_item_btn_item_btn_next {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 0; }

.container_item_btn_item_tittle {
    text-decoration: none;
    color: #000; }

.container_item_other {
    width: 345px; }

.container_item_other_screen_hot_news {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(45deg, #e6ecee, #7ddac7);
    border-radius: 5px; }

#container_item_header {
    font-size: 20px;
    line-height: 3;
    font-weight: 600;
    font-family: "Be Vietnam Pro", sans-serif; }

.container_item_other_screen_hot_news_list_pro {
    list-style: none; }

.container_item_other_screen_hot_news_list {
    margin-right: 15px;
    margin-left:  10px;
}

.container_item_other_screen_hot_news_list_sub {
    display: flex;
    flex-direction: row;
    margin: 3px 0;
    background-color: rgba(201, 193, 83, 0.2);
    border-top:1px solid #dfaeae;
}

.container_item_other_hot_news_pic {
    width: 60px;
    height: 60px;
    background-color: aqua; }

.container_item_other_hot_news_info {
    margin-left: 10px;
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: column; }

.post_tittle {
    padding: 0;
    line-height: 2.3; }
.post_tittle a:hover {
    color: #dc5f46; }
.post_tittle a{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;

}
.post_price {
    margin-bottom: 0;
    color: #2d00f3; }

.post_dav {
    display: flex;
    justify-content: space-between; }

.footer {
    padding: 20px;
    background-image: linear-gradient(45deg, #50c246, #d3d3d0);
    top: 2200px;
    right: 0;
    left: 0;
    text-align: center; }